/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.root {
  height: 100vh;
  width: 100vw;
  background-image: url(background.jpg);
  background-color: aliceblue;
  background-size: cover;
  display: grid;
  place-items: center;
  z-index: 0;
}

.root::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.actions {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.drum-button {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 4px 15px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border-width: 2px;
  border-left-color: rgba(255, 255, 255, 0.4);
  border-top-color: rgba(255, 255, 255, 0.4);
  border-bottom-color: rgba(85, 85, 85, 0.5);
  border-right-color: rgba(85, 85, 85, 0.5);
  border-style: solid;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.8), 1px 1px 2px 0 rgba(0, 0, 0, 0.5);

  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);  
  
  position: relative;
}

.drum-button:focus {
    outline: none;
    border-color: #45bae4aa;
}
.drum-button:active {
    border-color: inherit;
    text-shadow: 0 0 12px rgba(35, 191, 247, 0.88);
    /* box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.8), 0 0 2px 0 rgba(0, 0, 0, 0.5); */
    transform: scale(0.97);
    z-index: 0;
}

.drum-button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #45bae488;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0.1;
    transform: scale(1);
    transition: all 100ms ease-in-out ;
    z-index: -1;
    border-radius: 999px;
}

.drum-button:active::after {
    transform: scale(0);
    opacity: 1;
}

.drum-button::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 90%);
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    filter: blur(8px);
    transition: all 180ms ease-in-out ;
}

.drum-button:active::before {
    transform: scale(0.8);
}